<div class="action-header">
	<div class="action-name">
		<p>● <%= t('services.Editing＿Service') %></p>
	</div>

	<div class="action-detail">
		<p>・編集したい部分をクリックしましょう。</p>
		<p>・編集が完了したら投稿をクリックしましょう。</p>
	</div>
</div>

<section class="section">
	<%= render 'services/form' %>
</section>