<div class="action-header">
	<div class="action-name">
		<p>【<%= t('services.Registration_Service') %>】</p>
	</div>

	<div class="action-detail">
		<p>・各サービス情報をクリックし入力しましょう。</p>
		<p>・サービスは出品後に内容の修正や取り消しが出来ます。</p>
	</div>
</div>

<section class="section">
	<%= render 'services/form' %>
</section>