<% if object.errors.any? %>
<div class="notification is-danger">
	<h2><%= pluralize(object.errors.count, "error") %> prohibited this object from being saved: not successfully</h2>
	<ul>
		<% object.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
</div>
<% end %>