<div class="action-header">
	<div class="action-name">
		<p>● プロフィール編集</p>
	</div>

	<div class="action-detail">
		<p>・プロフィール情報の編集が可能です。</p>
		<p>・イメージ画像やメールアドレスは、ユーザー編集画面からご変更可能です。</p>
	</div>
</div>

<section class="section">
	<%= render 'profiles/form' %>
</section>