<div class="action-header">
	<div class="action-name">
		<p>【<%= t('profiles.Registration_Profile') %>】</p>
	</div>

	<div class="action-detail">
		<p>・プロフィール情報登録は任意です。ただし、入力されている方が取引へと繋がり易いです。</p>
		<p>・プロフィールは登録後に変更が可能です。</p>
		<p>・プロフィールを登録しない場合は「戻る」を選択してください。</p>
	</div>
</div>

<section class="section">
	<%= render 'profiles/form' %>
</section>