<div class="hero is-info is-bold">
	<div class="hero-body">
		<div class="container">
			<h2 class="subtitle-ja">あなたのスキルで誰かが喜ぶ。 そして、あなたはやりがいを得る。 それがこのアプリ「win-win!!!!!」です。</h2>
			<h4 class="subtitle-en">Someone will love your skills. And you get rewarded. That's this app "win-win!!!!!".
			</h4>
		</div>
	</div>
</div>